@model IEnumerable<GameDrop.Models.GameDrop_OrderDetails>

@{
    ViewData["Title"] = "OrderDetails";
}

<h1>OrderDetails</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OrderDetailsId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OrderDetailsId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OrderDetailsId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
