@{
    ViewData["Title"] = "Payment";
}

<div class="card mb-3">
    <div class="card-header">
        Order Progression
    </div>
    <div class="card-body">
        <div class="progress" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar" style="width: 50%"></div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="text-center">Order Review</p>
        </div>
        <div class="col">
            <p class="text-center">Payment Pending</p>
        </div>
        <div class="col">
            <p class="text-center">Payment Completed</p>
        </div>
        <div class="col">
            <p class="text-center">Order Shipped</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card-body">
                <h5 class="card-title">Order ID: @ViewBag.OrderId</h5>
                <p class="card-text mb-0">Order Date: @ViewBag.OrderDate</p>
                <p class="card-text">Order Status: @ViewBag.OrderStatus</p>
            </div>
        </div>
    </div>
</div>

<h2>Payment</h2>

<p>Proceed with payment for Order ID: @ViewBag.OrderId</p>
<p>Total Amount: ฿@ViewBag.TotalAmount</p>

<!-- Implement your payment form here -->
<form asp-action="CompletePayment" asp-controller="Order" method="post">
    <div class="form-group">
        <label>Select Payment Method</label>
        <div class="card mb-2 mt-2">
            <div class="card-body">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="PaymentMethod" value="CashOnDelivery" id="CashOnDelivery">
                    <label class="form-check-label" for="CashOnDelivery">
                        <span class="material-symbols-rounded">
                            payments
                        </span> Cash On Delivery
                    </label>
                </div>
            </div>
        </div>
        <div class="card mb-2">
            <div class="card-body">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="PaymentMethod" value="QRPromptPay" id="QRPromptPay">
                    <label class="form-check-label" for="QRPromptPay">
                        <span class="material-symbols-rounded">
                            qr_code
                        </span> QR PromptPay
                    </label>
                </div>
            </div>
        </div>
        <div class="card mb-2">
            <div class="card-body">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="PaymentMethod" value="BankTransfer" id="BankTransfer">
                    <label class="form-check-label" for="BankTransfer">
                        <span class="material-symbols-rounded">
                            account_balance
                        </span> Bank Transfer
                    </label>
                </div>
            </div>
        </div>
        <div class="card mb-2">
            <div class="card-body">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="PaymentMethod" value="CreditCard" id="CreditCard">
                    <label class="form-check-label" for="CreditCard">
                        <span class="material-symbols-rounded">
                            credit_card
                        </span> Credit Card / Debit Card
                    </label>
                </div>
            </div>
        </div>
        <div class="card mb-2">
            <div class="card-body">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="PaymentMethod" value="GooglePay" id="GooglePay">
                    <label class="form-check-label" for="GooglePay">
                        <span class="material-symbols-rounded">
                            phonelink_ring
                        </span> Google Wallet
                    </label>
                </div>
            </div>
        </div>
        <div class="card mb-2">
            <div class="card-body">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="PaymentMethod" value="ApplePay" id="ApplePay">
                    <label class="form-check-label" for="ApplePay">
                        <span class="material-symbols-rounded">
                            phonelink_ring
                        </span> Apple Pay
                    </label>
                </div>
            </div>
        </div>
        <div class="card mb-2">
            <div class="card-body">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="PaymentMethod" value="PayPal" id="PayPal">
                    <label class="form-check-label" for="PayPal">
                        <span class="material-symbols-rounded">
                            account_balance_wallet
                        </span> PayPal</label>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" name="orderId" value="@ViewBag.OrderId" />
    <button type="submit" class="btn btn-success">Complete Payment</button>
</form>