@model IEnumerable<GameDrop.Models.GameDrop_Product>

@{
    ViewData["Title"] = "Search List";
    var currentSearch = ViewBag.CurrentSearch as string;
    var nameSortParam = String.IsNullOrEmpty(ViewBag.CurrentSort) ? "name" : "";
    var namedesSortParam = String.IsNullOrEmpty(ViewBag.CurrentSort) ? "name_desc" : "";
    var priceSortParam = String.IsNullOrEmpty(ViewBag.CurrentSort) ? "price" : "";
    var pricedesSortParam = String.IsNullOrEmpty(ViewBag.CurrentSort) ? "price_desc" : "";
}

<ul class="nav justify-content-lg-end">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Sort by</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" asp-route-sortOrder="@nameSortParam" asp-route-SearchItem="@currentSearch">Name (A to Z)</a></li>
            <li><a class="dropdown-item" asp-route-sortOrder="@namedesSortParam" asp-route-SearchItem="@currentSearch">Name (Z to A)</a></li>
            <li><a class="dropdown-item" asp-route-sortOrder="@priceSortParam" asp-route-SearchItem="@currentSearch">Price (Low to High)</a></li>
            <li><a class="dropdown-item" asp-route-sortOrder="@pricedesSortParam" asp-route-SearchItem="@currentSearch">Price (High to Low)</a></li>
        </ul>
    </li>
    <li class="nav-item">
        <a class="btn" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Filter</a>
    </li>
</ul>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductImageData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductImageType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductImageData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductImageType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
        </tr>
}
    </tbody>
</table>
