@model IEnumerable<GameDrop.Models.GameDrop_Product>
@inject GameDrop.Services.CategoryService CategoryService

@{
    ViewData["Title"] = "Shop";
}


<div class="container my-4">
    <h1 class="text-center mb-4">@ViewData["Title"]</h1>

    <div class="row row-cols-1 row-cols-md-2 g-4 justify-content-center">
        @foreach (var item in Model)
        {
            <div class="col" style="width:fit-content">
                <div class="card h-100 shadow-sm" style="width: 12rem;">
                    <a asp-action="Details" asp-route-id="@item.ProductId.ToString()" class="text-decoration-none">
                        @if (item.ProductImageData != null && item.ProductImageData.Length > 0)
                        {
                            <img src="data:@item.ProductImageType;base64,@Convert.ToBase64String(item.ProductImageData)" alt="Product Image" class="card-img-top" style="object-fit: cover; max-width: 12rem; max-height: 12rem;" />
                        }
                        else
                        {
                            <img src="/images/placeholder.png" alt="Placeholder Image" class="card-img-top" style="object-fit: cover; width: 200px; height: 200px;" />
                        }
                        <div class="card-body">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.ProductName)</h5>
                            <span class="badge text-bg-primary">
                                @(CategoryService.GetCategoryNameById(item.CategoryId))
                            </span>
                        </div>
                    </a>

                    <div class="card-footer d-flex justify-content-between align-items-center">
                        <span class="fw-bold">
                            ฿ @Html.DisplayFor(modelItem => item.ProductPrice)
                        </span>
                        <form asp-controller="ShoppingCart" asp-action="AddToCart" method="post">
                            <input type="hidden" class="form-control" id="quantity" name="quantity" value="1" />
                            <input type="hidden" name="productId" value="@item.ProductId" />
                            <button type="submit" class="btn btn-sm btn-primary">
                                <span class="material-symbols-rounded">
                                    shopping_cart
                                </span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
</div>