@model GameDrop.Models.GameDrop_PromoBanner

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GameDrop_PromoBanner</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PromoBannerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PromoBannerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PromoBannerDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PromoBannerDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PromoBannerImageData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PromoBannerImageData)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PromoBannerImageType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PromoBannerImageType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BannerType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BannerType)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PromoBannerId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
